<app-servico-detalhe-banner
  [titulo]="servico?.data?.titulo | mapLang"
  [imagem]="servico?.data?.imagem">
</app-servico-detalhe-banner>

<!-- Service Details Section -->
<section id="service-details" class="service-details section">

  <div class="container">

    <div class="row gy-5">

      <div class="col-lg-4" data-aos="fade-up" data-aos-delay="100">

        <div class="service-box">
          <h4>Lista de Serviços</h4>
          <div class="services-list" *ngFor="let servicos of servicos let i = index">
            <a [href]="'servicos/' + (servicos.data.slug | mapLang)" class="active"><fa-icon [icon]="faArrowRight" class="fa"></fa-icon><span>{{servicos.data.titulo | mapLang}}</span></a>
          </div>
        </div><!-- End Services List -->

        <div class="service-box">
          <h4>Baixar o Catalogo</h4>
          <div class="download-catalog">
            <a href="#"><i class="bi bi-filetype-pdf"></i><span>Catalogo PDF</span></a>
          </div>
        </div><!-- End Services List -->

      </div>

      <div class="col-lg-8 ps-lg-5" data-aos="fade-up" data-aos-delay="200">
        <img [src]="servico?.data?.imagem" [alt]="servico?.data?.titulo" class="img-fluid services-img">
        <h3>{{servico?.data?.titulo | mapLang}}</h3> <br>
        <p style="text-align: justify;">
          {{servico?.data?.descricao | mapLang}}
        </p>
        <ul>
          <li><i class="bi bi-check-circle"></i> <span>Aut eum totam accusantium voluptatem.</span></li>
          <li><i class="bi bi-check-circle"></i> <span>Assumenda et porro nisi nihil nesciunt voluptatibus.</span></li>
          <li><i class="bi bi-check-circle"></i> <span>Ullamco laboris nisi ut aliquip ex ea</span></li>
        </ul>
      </div>

    </div>

  </div>

</section><!-- /Service Details Section -->
