<app-projectos-detalhe-banner
  [titulo]="servico?.data?.titulo | mapLang"
  [imagem]="servico?.data?.ficheiros">
</app-projectos-detalhe-banner>
<div *ngIf="servico">
  <div class="container py-5">

    <!-- <div class="row">

      <div class="col-12 col-md-6 color py-5">
        <h2 class="">{{ servico.data.titulo | mapLang}}</h2>
        <h4><span>{{servico.data.descricao | mapLang}}</span></h4>

      </div>

    </div> -->


      <lightgallery [settings]="settings" [onBeforeSlide]="onBeforeSlide">
        <a *ngFor=" let imagem of servico.data.ficheiros" data-lg-size="480-475-480, 800-791-800, 1406-1390" class="gallery-item"
        [attr.data-src]="imagem">
        <img class="img-responsive im" [src]="imagem" />
        </a>
      </lightgallery>

  </div>
</div>
