<div class="sobre bg-light">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 text-black py-5">
        <h5 class="py-1" data-aos="fade-right" data-aos-duration="2300">
          <div class="d-flex align-items-center">
            <hr class="linha-horizontal">
          </div>
        </h5>
        <h3 class="" data-aos="fade-left" data-aos-duration="2300">Uma empresa, mais Inovadora e Consistente.</h3>
          <p class="py-3 text-justify sb-p" data-aos="fade-up" data-aos-duration="2300">Somos uma empresa virada para a sinalização horizontal e vertical das vias de
            comunicação. Com a denominação social de “ADASRC – Comercio e serviços, Lda”, sediada no bairro Kapalanca no Município de Viana, Província de Luanda, República de Angola.
            para diversos setores. <br><br> Consciente da nossa responsabilidade numa área tão sensível e importante
            como a da segurança rodoviária, desenvolvemos os nossos produtos no sentido
            de melhorar a qualidade da informação fornecida ao utente, nas várias vertentes
            que a compõem, tendo sempre o sentido estético e paisagístico que conferimos
            ao ambiente onde intervimos, de acordo com as especificidades urbanas
            e rurais de modo a preservarmos a sua total identidade. É no seguimento
            desta estratégia, orientada para a diversificação e qualidade do produto, associada
            a preços competitivos, que a Adasrc, se torna um interlocutor privilegiado
            no que concerne a sinalização rodoviária.
          </p>
        <div class="premissa">
          <img src="assets/premissas/Vector 957.svg" alt="" data-aos="fade-up" data-aos-duration="2300"
            data-aos-anchor-placement="top-bottom">
          <p class="py-3 text-justify sb-p" data-aos="fade-left" data-aos-duration="2300"
            data-aos-anchor-placement="top-bottom" style="letter-spacing: 0; hyphens: auto;">
            A experiência fala por nós, pois estivemos presentes nas obras de grande dimensão
nos últimos anos e através de uma carteira de clientes sólida que caracterizam
a sustentabilidade do nosso negócio desde sempre. <br><br>

            Estamos focados na Segurança Rodoviária que comporta o fabrico e a montagem
            de guardas de segurança, GUARDAS DE PROTEÇÃO A MOTOCICLISTAS, sinalização
            vertical e horizontal (sinais de trânsito e pinturas de estradas), sendo um
            player com uma forte integração industrial para garantia total dos produtos que
            colocamos no mercado.</p>
        </div>

      </div>
      <div class="col-12 col-md-1"></div>
      <div class="col-12 col-md-5 sect" style="background-image: url(assets/img/pattern.png);" data-aos="fade-up"
        data-aos-duration="2300">
        <img class="py-5" src="assets/img/sobre.jpg" style="width: 100%; height: 100%; object-fit: cover;" alt="" data-aos="fade-up"
          data-aos-duration="2500">
      </div>
    </div>

  </div>
</div>
